<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>{$od1}</title>

		<link href="__STATIC__/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__STATIC__/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/orstyle.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/a.css" rel="stylesheet" type="text/css">
        <script src="__STATIC__/js/jQuery.min.js"></script>
		<script src="__STATIC__/js/amazeui.js"></script>
        <script src="__STATIC__/js/jQuery.js"></script>
        <script src="__STATIC__/layer/layer.js"></script>
        <script>
                $(function(){
                    $('.person li').removeClass('active');
                    $(".person li a:contains('{$od1}')").parent().addClass('active');
                    $('.pay').click(function(){
                        r=$(this).attr('name');
                        layer.prompt({
                            title: '输入支付密码，并确定',
                            formType: 1 //prompt风格，支持0-2
                        }, function(pass){
                            $.post('{:U("Order/pay")}',{ordersyn:r,paypwd:pass},function(res){
                                // alert(res);
                                if(res.status==1){
                                    layer.msg(res.info,{icon:6,time:800},function(){
                                        location="";})
                                }else{
                                    layer.msg(res.info,{icon:2,time:1600})
                                }
                            })
                           // layer.msg(pass);
                        });
                    })
                    $('.del').click(function(){
                       var j=$(this).attr('name');
                        del=$(this)
                        $.post('{:U("Order/del")}',{ordersyn:j},function(res){
                            // alert(res);
                            if(res.status==1){
                                layer.msg(res.info,{icon:6,time:1200});
                                del.parents('.order-main').hide();
                            }else{
                                layer.msg(res.info,{icon:2,time:1600})
                            }
                        })
                    })
                    $('.shl').click(function(){
                       var r=$(this).attr('name');
                        $.post('{:U("Order/shl")}',{ordersyn:r},function(res){
                            // alert(res);
                            if(res.status==1){
                                layer.msg(res.info,{icon:6,time:2000},function(){
                                    location="";})
                            }else{
                                layer.msg(res.info,{icon:2,time:2000})
                            }
                        })
                })
        })
        </script>
        <style>
            .message{float:left;}
            #page{float: right;}
            #page a,#page span{display: inline-block;width: 30px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #ccc;}
            .current{background: #DD514C;color: #fff;  }
        </style>
	</head>
<body>
    <header>
        <article>
            <!--顶部导航条 -->
            <include file='Public/header'/>
        </article>
    </header>
    <include file='Public/nav'/>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

                        <form action="{:U('order')}" method="get">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">{$od1}</strong> / <small>Order</small></div>
                            <input type="submit" value="查询" class="btn" style="height:40px;width:70px;float: right;color:white;background-color:#DD514C;
                            border: 0;font-size: 16px;"/>
                            <input type="text" name="goodsname"  {$od2==true?"value='$od2'":'placeholder="请输入商品名称查询"'}
                                   style="height:40px;width: 200px;float: right;border: 1px solid red;border-right:0"/>
                            <input type="hidden" name="orderstatus" value="{$od}"/>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
                                    <span style="font-size:30px;color: red">{$cxbu}</span>
                                    <volist name="sele" id="v1">
									<div class="order-main">
										<div class="order-list">
											<!--交易失败-->
											<div class="order-status0">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$v1.ordersyn}</a></div>
													<span>成交时间：{:date('Y-m-d H:i:s',$v1['addtime'])}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
                                                        <volist name="v1['cate']" id="v2">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="{:U('Goods/goodsDetail?gid='.$v2['gid'])}" class="J_MakePoint">
																		<img src="/Uploads/{$v2.pic}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="{:U('Goods/goodsDetail?gid='.$v2['gid'])}">
																			<p>{$v2.goodsname}</p>
																			<p class="info-little">颜色：随机
																				<br/>包装：裸装 </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{$v2.gidprice}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{$v2.buynum}
																</div>
															</li>

                                                            <li class="td td-operation">
                                                                <div class="item-operation">
                                                                    <if condition="$v1['orderstatus'] eq 2">
                                                                    <a href="{:U('Refund/refund?id='.$v2['gid'].'&ordersyn='.$v1['ordersyn'])}">退款</a>
                                                                    <elseif condition="$v1['orderstatus'] eq 3"/>
                                                                        <a href="{:U('Refund/refund?id='.$v2['gid'].'&ordersyn='.$v1['ordersyn'])}">退款/退货</a>
                                                                    <elseif condition="$v1['orderstatus'] eq 4"/>
                                                                    <a href="{:U('Refund/refund?id='.$v2['gid'].'&ordersyn='.$v1['ordersyn'])}">退款/退货</a>
                                                                        <br> <a href="{:U('Comment/index?gid='.$v2['gid'].'&oid='.$v1['id'])}" >评价</a>
                                                                    </if>
                                                                </div>
                                                            </li>
															<li class="td td-operation">
																<div class="item-operation">
																	
																</div>
															</li>
														</ul>
                                                        </volist>
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$v1.orderprice}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus" style="margin-top: -14px">
                                                                        <if condition="$v1['orderstatus'] eq 1">
                                                                            {$v1.statusname}
                                                                            <br><span class="del" name="{$v1.ordersyn}" style="cursor: pointer">删除订单</span>
                                                                            <elseif condition="$v1['orderstatus'] eq 2"/>
                                                                            {$v1.adminopt}
                                                                            <elseif condition="$v1['orderstatus'] eq 3"/>
                                                                            {$v1.memberopt}
                                                                            <elseif condition="$v1['orderstatus'] eq 4"/>
                                                                            {$v1.statusname}
                                                                            <elseif condition="$v1['orderstatus'] eq 5"/>
                                                                            {$v1.statusname}
                                                                        </if>
                                                                    </p>
                                                                    <p class="order-info"><a href="{:U('Orderinfo/orderinfo?ordersyn='.$v1['id'])}">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
                                                                <if condition="$v1['orderstatus'] eq 1">
                                                                    <div class="am-btn am-btn-danger anniu" >
                                                                        <span class="pay" name="{$v1.ordersyn}">去支付</span>
                                                                    </div>
                                                                    <elseif condition="$v1['orderstatus'] eq 2"/>
                                                                    <elseif condition="$v1['orderstatus'] eq 3"/>
                                                                    <div class="am-btn am-btn-danger anniu">
                                                                        <span class="shl" name="{$v1.ordersyn}">确认收货</span></div>
                                                                    <else/>
                                                                    <div class="am-btn am-btn-danger anniu">
                                                                        <span class="del" name="{$v1.ordersyn}">删除订单</span></div>
                                                                </if>
															</li>
                                                 </div></div> </div></div> </div></div>
                                    </volist>
                                    <div class="pagin" style="margin-top:16px">
                                        <div class="message">共<i class="blue">{$count}</i>条记录</div>
                                        <div id="page">{$page}</div>
                                    </div>

								</div>
						</div>
						</div>
                     </form>
					</div>
				</div>
				<!--底部-->
            </div>

            <include file='Public/list'/>
        </div>
        <include file='Public/footer'/>
    </body>
</html>