<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>退换货</title>

		<link href="__STATIC__/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/refstyle.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/css/a.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="__STATIC__/file/control/css/zyUpload.css" type="text/css">
        <script src="__STATIC__/js/jquery.min.js" type="text/javascript"></script>
		<script src="__STATIC__/js/amazeui.js" type="text/javascript"></script>
        <script type="text/javascript" src="__STATIC__/js/jQuery-1.8.2.min.js"></script>
        <!-- 引用核心层插件 -->
        <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
        <!-- 引用控制层插件 -->
        <script src="__STATIC__/file/control/js/zyUpload.js"></script>
        <!-- 引用初始化JS -->
        <script src="__STATIC__/file/core/jq22.js"></script>
        <script src="__STATIC__/file/core/zyFile.js"></script>
        <script type="text/javascript" src="__STATIC__/js/jquery.form.js"></script>
	</head>
    <script>
        $(function(){
            $("#form1").submit(function(){
                $("#form1").ajaxSubmit(function(res){
                    if(res.status){
                        layer.msg(res.info,{icon:6,time:800},function(){location="{:U('Refund/index')}"});
                    }else{
                        layer.msg(res.info,{icon:2,time:800});
                    }
                });
                return false;
            })
        })
    </script>
	<body>
		<!--头 -->
        <header>
            <article>
                <!--顶部导航条 -->
                <include file='Public/header'/>
            </article>
        </header>
        <include file='Public/nav'/>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">退款/退货申请</strong> / <small>Apply&nbsp;for&nbsp;returns</small></div>
					</div>
					<hr/>
                    <span style="color: red;font-size:30px">{$list1}</span>
                    <if condition="$list eq 0">
                        <script>
                            $(function(){
                                $('.comment-list').hide();
                            })
                        </script>
                    </if>

					<div class="comment-list">
                        <div class="emp">
						<div class="refund-aside">
							<div class="item-pic">
								<a href="{:U('Goods/goodsDetail?gid='.$list['cate']['gid'])}" class="J_MakePoint">
									<img src="/Uploads/{$list['goods']['pic']}" class="itempic">
								</a>
							</div>

							<div class="item-title">

								<div class="item-name">
									<a href="{:U('Goods/goodsDetail?gid='.$list['cate']['gid'])}">
										<p class="item-basic-info">{$list['goods']['goodsname']}</p>
									</a>
								</div>
								<div class="info-little">
									<span>颜色：随机</span>
									<span>包装：裸装</span>
								</div>
							</div>
							<div class="item-info">
								<div class="item-ordernumber">
									<span class="info-title">订单编号：</span><a>{$list['ordersyn']}</a>
								</div>
								<div class="item-price">
									<span class="info-title">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</span><span class="price">{$list['cate']['gidprice']}元</span>
									<span class="number">×{$list['cate']['buynum']}</span><span class="item-title">(数量)</span>
								</div>
								<div class="item-amount">
									<span class="info-title">小&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span><span class="amount">{$list['cate']['gidprice']*$list['cate']['buynum']}元</span>
								</div>
								<div class="item-pay-logis">
									<span class="info-title">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</span><span class="price">0.00元</span>
								</div>
								<div class="item-amountall">
									<span class="info-title">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：</span><span class="amountall">{$list['cate']['gidprice']*$list['cate']['buynum']}元</span>
								</div>
								<div class="item-time">
									<span class="info-title">成交时间：</span><span class="time">{:date('Y-m-d H:i:s',$list['addtime'])}</span>
								</div>
							</div>
							<div class="clear"></div>
						</div>
                        <form action="{:U('Refund/th')}" method="post" enctype="multipart/form-data" id="form1">
						<div class="refund-main" style="height:580px">
							<div class="item-comment">
								<div class="am-form-group">
									<label for="refund-type" class="am-form-label">退款类型</label>
									<div class="am-form-content">
										<select data-am-selected="" name="money">
											<option value="仅退款" selected>仅退款</option>
											<option value="退款/退货">退款/退货</option>
										</select>
									</div>
								</div>
								
								<div class="am-form-group">
									<label for="refund-reason" class="am-form-label">退款原因</label>
									<div class="am-form-content">
										<select data-am-selected="" name="reason">
											<option value="请选择退款原因" selected>请选择退款原因</option>
											<option value="不想要了">不想要了</option>
											<option value="买错了">买错了</option>
											<option value="没收到货">没收到货</option>
											<option value="与说明不符">与说明不符</option>
										</select>
									</div>
								</div>
								<div class="am-form-group">
									<label for="refund-money" class="am-form-label">退款金额<span>（不可修改）</span></label>
									<div class="am-form-content">
										<input type="text" id="refund-money" readonly="readonly" placeholder="{$list['cate']['gidprice']*$list['cate']['buynum']}">
                                        <input type="hidden"  value="{$list['cate']['gidprice']*$list['cate']['buynum']}" name="orderprice">
                                        <input type="hidden"  value="{$list['ordersyn']}" name="oid">
                                        <input type="hidden"  value="{$list['cate']['gid']}" name="gid">
                                        <input type="hidden"  value="{$list['scid']}" name="scid">
									</div>
								</div>
								<div class="am-form-group">
									<label for="refund-info" class="am-form-label">退款说明<span>（可不填）</span></label>
									<div class="am-form-content">
										<textarea placeholder="请输入退款说明" name="mess"></textarea>
									</div>
								</div>

							</div>
                            <span style="font-weight: bolder"> 图片最多上传三张,类型只支持JPEG,JPG,PNG</span>
                            <div id="demo" class="demo"></div>
							<div class="info-btn">
                                <input type="submit" value=" 提交申请"
                                       style="margin-top:-330px;background-color:#D7342E;border: 0;width:90px;height:40px;color:white;border-radius:10px;font-size: 16px ">
                                </div>
						    </div>
                        </form>
					</div>
					</div>
					<div class="clear"></div>
				</div>

				<!--底部-->
            </div>

            <include file='Public/list'/>
        </div>
        <include file='Public/footer'/>
    </body>

</html>