<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/js/jQuery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
    <style type="text/css">
        #d1,#d2{
            width: 165px;
            height: 30px;
            padding-left: 30px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 200
            });
        });
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">添加活动</a></li>
    </ul>
</div>
<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab1" class="tabson">
            <form action="{:U('Jshop/edit')}" id="form1" method="post">
                <ul class="forminfo">
                    <li><label>所需积分<b>*</b></label><input value="{$info.needjf}" name="needJF" type="text" class="dfinput" style="width:200px;"/></li>
                    <if condition="$info['status'] eq 0">
                        <li><label>U币数量<b>*</b></label><input value="{$info.getub}" name="getUB" type="text" class="dfinput" style="width:200px;"/></li>
                        <else/>
                        <li style="position: relative"><label>商品<b>*</b></label><input style="width: 200px;height: 30px;opacity: 1;border: 1px solid #ccc" type="text" value="{$info['ginfo']['goodsname']}" readonly/>&nbsp;&nbsp;价格：￥<span style="display: inline-block">{$info['ginfo']['price']}</span>
                            <img width="200" style="position: absolute;bottom: -100px" src="/Uploads/{$info['ginfo']['pic']}" alt=""/>
                        </li>
                    </if>
                    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="马上编辑"/></li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $('#form1').submit(function(){
            $.post("{:U('edit')}",$('#form1').serialize()+'&'+'id='+"{:I('get.id')}",function(res){
                layer.msg(res.info);
            });
            return false;
        })
    })
</script>
</html>
